.footer
  .footer-links
    = link_to tag.i(class: 'fa fa-github'), 'https://github.com/caioertai/', target: '_blank', rel: 'noOpener', title: 'Github'
    = link_to tag.i(class: 'fa fa-linkedin'), 'https://linkedin.com/in/caioertai/', target: '_blank', rel: 'noOpener', title: 'Linkedin'
    = link_to tag.i(class: 'fa fa-facebook'), 'https://www.facebook.com/caioertai', target: '_blank', rel: 'noOpener', title: 'Facebook'
  .footer-copyright
    Made by
    = link_to 'Caio Andrade', 'https://github.com/caioertai/'
