.footer
  .footer-links
    = link_to icon('fab', 'github'), 'https://github.com/caioertai/frizz_bird', target: '_blank', rel: 'noOpener', title: 'Github'
  .footer-copyright.text-right
    Made by
    %strong Caio Andrade
    = link_to icon('fab', 'github'), 'https://linkedin.com/in/caioertai/', target: '_blank', rel: 'noOpener', title: 'Linkedin'
    = link_to icon('fab', 'linkedin'), 'https://linkedin.com/in/caioertai/', target: '_blank', rel: 'noOpener', title: 'Linkedin'
