- suffix = suffix.present? ? suffix + '-' : ''
= form_tag products_search_path, id: "#{suffix}product-search", class: 'search-form disable-on-loading', method: :get, remote: true do
  = text_field_tag :query, params[:query], id: "#{suffix}query", :'aria-label' => 'Busque por nome ou código de barra', class: 'main-search disable-on-loading', placeholder: 'Busque por nome ou código de barra'
  .main-search-loader
