.skrollr #product
  padding-top: $topbar-height
  
.darkruby-wrapper
  background-color: transparentize($dark-pink, 0.6)

.vcentered-wrapper
  display: flex
  min-height: calc(100vh - 4rem)
  align-items: center
  position: relative

.padded
  padding: 3rem 0
