= tag.svg(data: data, class: klass, xmlns: "http://www.w3.org/2000/svg", version: "1.1", baseProfile: "tiny", x: "0px", y: "0px", viewBox: "0 0 320 313.1") do
  <path fill="#7F1A52" d="M0,0l0,313c0.2,0,0.4,0.2,0.5,0C57.5,199.8,196.1,58.1,314,0L0,0z"/>
