.decorations-box
  position: relative
  overflow: hidden
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center

  svg
    overflow: visible

  .bangs
    position: absolute
    top: 0
    width: 20rem
    left: 0

    &.inverted
      right: 0

  .frizz
    fill: #F69220
    position: absolute
    top: 2rem
    width: 24rem
    left: 2rem

    &.inverted
      right: 2rem

  .frizz-shadow
    fill: #000000
    position: absolute
    top: -5rem
    width: 36rem
    left: 2rem

    g
      opacity: 0.05

    &.inverted
      right: 2rem

  .inverted
    transform: rotateY(180deg)
    left: auto

  .main-container
    text-align: center
    position: relative
    max-width: 50rem
    flex-grow: 1
    top: -3vh

  .logo
    fill: #F69220
    max-width: 90%
    margin-bottom: $spacer

  .logo-shadow
    fill: #000000
    position: absolute
    width: 120%
    top: 0
    left: 50%
    z-index: -1
    margin-left: -60%
    opacity: 0.05
