.search-info
  %h2== Resultado da busca por '#{params[:query]}'
  %ul.grid-list
    - @items.each do |item|
      %li
        = link_to product_path(item.products.first), remote: true do
          .circle-border.small= image_tag item.products.first.photo
          = item.name