.results-content
  display: flex
  position: relative

  h2
    font-size: 2.5rem
    font-weight: 500

  small
    font-size: 70%
    font-weight: 300

  .list-inline
    font-weight: 600
    margin-bottom: 2rem

    li
      margin-right: 3rem

.product-info
  margin-left: 3rem
  padding-top: 2rem
  flex-grow: 1

.search-info
  flex-grow: 1

  a
    display: flex
    align-items: center
    padding: 0.5rem
    margin-right: 1rem

  a:hover
    background-color: rgba(0, 0, 0, 0.15)
    color: #fff
    text-decoration: none
  
.grid-list
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(381px, 1fr))
  padding-left: 0
  margin-bottom: 0
  list-style-type: none

